*{
    font-family: sans-serif;
}
body{
background: -webkit-linear-gradient(120deg, hsla(234, 70%, 24%, 1) 0%, hsla(271, 54%, 38%, 1) 48%, hsla(317, 71%, 23%, 1) 100%);

height: 100vh;
display: flex;
align-items: center;
justify-content: center;

}
.heading{
    font-size: xx-large;
}
.parent{
    width:30rem;
    background-color: aliceblue;
    padding-left: 2rem;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}
.div1{
    display: flex;
    color:#121B67;
}
.div1 img{
    max-width: 1.5rem;
    max-height: 2rem;
    margin-top: 2rem;
    
    margin-left: 0.5rem;
    color:indigo;
}
.div2{
    margin-bottom: 2rem;
    
    align-items: center;
}
.div2 input{
    font-size: large;
    color: dimgrey;
    width: 70%;
    height: 2.5rem;
    border: navajowhite;
    background-color:lightgray ;
    border-radius: 5rem;
    padding-left: 2rem;
    position: relative;
}
.div2 button{
    color:white;
    height: 2.75rem;
    width: 20%;
    border: none;
    border-radius: 5rem;
    position: relative;
    z-index: 2;
    right: 2.5rem;
    padding-top: 4px;
    background-color: darkorange;
}
.div2 input:focus{
    outline: none;
}
.div3 ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    padding:12px 8px 12px 0px;
    position: relative;
    
}
.div3 ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('icons8-round-50.png');
    background-size: cover;
    background-position: center;
    right:28rem;
    bottom: 0.30rem;
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    height: 3.5rem;
    width:3.5rem;
    font-size: 2rem;
    color: #555;
    text-align: center;
    line-height: 3.5rem;
   border-radius: 50%;
}
ul li span:hover{
    background-color: #edeef0;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('tick-check-mark-icon-sign-symbol-design-free-png.webp');
    background-size: cover;
    background-position: center;
}
